{% extends 'base.html' %}
{% block content %}
{% include 'modals.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.2/dist/Chart.bundle.min.js"></script>
<div class="jumbotron mt-3" id="jumbotron_container">
  <div class="row justify-content-center">
    <h1 class="display-4">Weekly and daily weight history chart</h1><br>
    <div class="col-lg-10 col-12">
      <div class="row">
        <div class="col-lg-2 col-3">
          <select class="form-control" id="selected_time_amount">
            {% for option in options %}
				<option value="{{option}}">{{option}}</option>
			{% endfor %}
          </select>
        </div>
        <div class="col-lg-2 col-5">
          <select class="form-control" id="selected_time_unit">
            <option value="days">Days</option>
            <option value="weeks">Weeks</option>
          </select>
        </div>
        <div class="col-lg-2 col-4">
          <button type="button" id="get_history" class="btn btn-primary">Get</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="chart_wrapper">
		      <canvas id="canvas" style="display:none;"></canvas>
	    </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10 col-3">
      <a href="{{url_for('weight.register_weight')}}">Go back</a>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='js/chart-config.js')}}"></script>
<script>
  $('button#get_history').click(function(){
    var amount = $('#selected_time_amount option:selected').val();
    var time_unit = $('#selected_time_unit option:selected').val();
    var url = (time_unit == 'days') ? "{{url_for('weight.show_days')}}" :
      "{{url_for('weight.show_weeks')}}";
    $.ajax({
      url : url+"?amount="+amount,
      type: 'GET',
      contentType: 'application/json',
      dataType: 'json'
    }).always(function(weight_data){
      if(weight_data.error){
        $('#error_modal').modal('show')
        $('p#error').html(weight_data.error);
        return false;
      }
      if(weight_data.values.length == 0){
        $('#error_modal').modal('show')
        $('p#error').html("No data yet");
        $('#canvas').hide();
        return false;
      }
      //unit -> Y axis , values -> data, time_unit -> X Axis
      config.options.scales.yAxes[0].scaleLabel.labelString = weight_data.unit;
      config.data.datasets[0].data = weight_data.values;
      config.data.labels = weight_data.time_unit;
      myLineChart.update();
      $('#canvas').show();
    })
  })
</script>
{% endblock %}
