<div id="weight_successfully_logged" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal_custom_content_container">
          <div class="modal_container">
            <p>Your weight has been successfully logged! <i class="fa fa-check" aria-hidden="true" style="color:green;"></i><p/>
            <p id="weight"></p>
            <p id="week_avg"></p>
          </div>
      </div>
    </div>
  </div>
</div>

<div id="error_modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal_custom_content_container">
          <div class="modal_container">
            <p id="error"></p><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red;"></i>
          </div>
      </div>
    </div>
  </div>
</div>
